/*Colores generales*/
:root {
    --red: #EB5757;
    --primary: #6610f2;
    --primary-dark: #4f0cbb;
    --dark: #000000;
    --grey: #9c9c9c;
    --grey-dark: #959595;
    --color-white: #ffffff;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
}

/*Estilos para los botones del navbar*/

.navbar {
    min-height: 90px;
}

.navbar-nav .nav-item{
    font-size: 17px;
    font-weight: 400;
}

.navbar .btn {
    padding: .625rem 1.25rem !important;
}

/* .navbar ul li a{
    color: var(--dark);
}

.navbar li a{
    color: var(--dark);
}

.navbar li a:hover{
    color: var(--primary);
}

.navbar ul li a:hover{
    color: var(--primary);
} */

/*Text del nav rojo*/
.text-primary {
    color: var(--primary) !important;
}

.btn {
    padding: 1rem;
}

.btn-light {
    border-radius: 12px;
    background: var(--color-white);
    color: var(--primary);
    font-weight: 600;
    border-style: none;
}
/* .btn-light:hover{
    background: var(--primary-dark);
    color: var(--color-white);
} */

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 9px;
    font-weight: 600;
}
.btn-primary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}


/*Estilos del contenedor*/
.content {
    max-width: 500px;
}

section {
    height: 900px;
}

.step {
    position: relative;
    display: flex;
    justify-content: center;
}

.step::after{
    content: '';
    border-right: 2px solid var(--primary);
    height: 60px;
    position: absolute;
    top: 34px;
    opacity: .3;
}

@media (max-width: 992px){
    .navbar {
        position: relative !important;
    }
    section{
        height: unset;
    }
    .call-to-action{
        max-width: 100%;
    }
    .w-75{
        width: 100% !important;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

/*=====FOOTER AREA START=====*/
.calltoaction-form{
    max-width: 480px;
}
.calltoaction-form .form-control{
    min-height: 82px;
}
.calltoaction-form .btn{
    top: 12px;
    right: 12px;
}
/*Social media icons*/
.social-media .list-inline-item a{
    color: var(--dark);
    font-size: 25px;
}
.social-media .list-inline-item a:hover{
color: var(--primary-dark);
}

/*=====FOOTER AREA START=====*/